@page "/transaction"
@using FlocityClothingStore.Shared.Models.Transaction
@inject HttpClient http

<h3>Transactions</h3>
<a href="transaction/create"> Create New Transaction</a>
@if(transactions == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quantity</th>
                <th>CustomerId</th>
                <th>ProductId</th>
                <th>DateOfTransaction</th>
                <th>&nbsp;</th>
            </tr>

        </thead>
        <tbody>
            @foreach(TransactionListItem transaction in transactions)
            {
                <tr>
                    <td><strong>@transaction.Id</strong></td>
                    <td><strong>@transaction.Quantity</strong></td>
                    <td><strong>@transaction.CustomerId</strong></td>
                    <td><strong>@transaction.ProductId</strong></td>
                    <td><strong>@transaction.DateOfTransaction</strong></td>
                    <td>
                        <a href=@($"transaction/{transaction.Id}")>Details</a>
                        <a href=@($"transaction/edit/{transaction.Id}")>Edit</a>
                        <a href=@($"transaction/delete/{transaction.Id}")>Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}

@code {
    private List<TransactionListItem> transactions;
    protected override async Task OnInitializedAsync()
    {
        transactions = await http.GetFromJsonAsync<List<TransactionListItem>>("/api/transaction");
    }

}
