@page "/cart/edit/{CartId:int}"
@using FlocityClothingStore.Shared.Models.Cart
@using FlocityClothingStore.Shared.Models.Customer
@inject HttpClient http
@inject NavigationManager navigation

<h3>Edit Cart: @model.CustomerId</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
@if(customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label>ID</label>
                <div class="col-sm-5">
                    <InputNumber class="form-control" @bind-Value="model.Id" />
                </div>
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <div class="col-sm-5">
                    <InputSelect class="form-control" @bind-Value="model.CustomerId">
                        @foreach(var customer in customers)
                        {
                            <option value="@customer.Id">@customer.Id</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public int CartId { get; set; }
    private CartEdit model = new();
    private IEnumerable<CustomerListItem> customers;
    private string errorMessage;
    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<CartEdit>($"/api/cart/{CartId}");
        customers = await http.GetFromJsonAsync<IEnumerable<CustomerListItem>>("/api/customer/");
    }
    private async void HandleSubmit()
    {
        var createRes = await http.PutAsJsonAsync<CartEdit>($"/api/cart/edit/{CartId}", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/cart/{CartId}");
        }
        else
        {
            errorMessage = "We could not update cart right now, please try again later.";
        }
    }
}

